# Compiled output
/target/
target/
*.class

# Angular
/.angular/
.angular/
dist/
tmp/
out-tsc/

# Node
/node_modules/
node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
/.idea/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db